 // These variables change everything, including the main body
$doc-font-size: 16px;
$doc-font-size-medium: $doc-font-size * 1; // 16 px
$doc-font-size-large: $doc-font-size * 1.0625; // 17 px
$doc-font-size-x-large: $doc-font-size * 1.125; // 18 px

/* type scale: everything BUT the main body */
$type-size-rescale : 1.125;
$type-size-1 : 2.441em * $type-size-rescale;  // ~39.056px
$type-size-2 : 1.953em * $type-size-rescale;  // ~31.248px
$type-size-3 : 1.563em * $type-size-rescale;  // ~25.008px
$type-size-4 : 1.25em * $type-size-rescale;   // ~20px
$type-size-5 : 1em * $type-size-rescale;      // ~16px
$type-size-6 : 0.75em * $type-size-rescale;   // ~12px
$type-size-7 : 0.6875em * $type-size-rescale; // ~11px
$type-size-8 : 0.625em * $type-size-rescale;  // ~10px

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 250px !default;
$right-sidebar-width-wide: 300px !default;